body {
    background: rgb(250, 250, 250);
}

a {
    text-decoration: none;
    color: #727272;
}

a:hover {
    text-decoration: none;
    color: #5f5f5f;
}

img {
    max-width: 100%;
}


/* Navbar */

.navbar {
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
}

.bg-light {
    background-color: #C4C4C4 !important;
}

.nav-item {
    margin-left: 20px;
}


/* Contenu */

.row {
    text-align: center;
    margin-bottom: 50px;
}

.row:nth-child(2) {
    text-align: center;
    margin-bottom: 50px;
}

.row h6 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.row:nth-child(1) img {
    max-height: 350px;
}

.row:nth-child(2) img {
    display: inline;
}

#primaire {
    border: 1px solid rgba(158, 197, 221, 0.30);
    border-radius: 15px;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 30px rgba(158, 197, 221, 0.20);
}

#primaire:hover {
    border: 1px solid #C1D1DB;
    background-color: rgba(134, 193, 230, 0.15);
}

.logos {
    max-height: 20px;
    margin-top: 20px;
}

.logos img:nth-child(2) {
    margin-left: 35%;
}

#retweets {
    border: 1px solid rgb(47, 175, 132);
    border-radius: 15px;
    transition: background-color 0.5s;
    padding: 10px;
}

#retweets:hover {
    background-color: rgba(47, 175, 132, 0.15);
}

#likes {
    border: 1px solid rgb(175, 47, 132);
    border-radius: 15px;
    transition: background-color 0.5s;
    padding: 10px;
}

#likes:hover {
    background-color: rgba(175, 47, 132, 0.15);
}

.emojisrow div {
    text-align: center;
    width: 100% !important;
}


/* Footer  */

.footer-nav {
    border-top: 1px solid #C4C4C4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 0 2% 0 2%;
    padding-top: 7px;
    text-align: center;
    height: 40px;
    background-color: rgb(250, 250, 250) !important;
    opacity: 0%;
    transition: .2s ease-in;
}

.footer-nav:hover {
    padding-top: 10px;
    height: 50px;
    opacity: 100%;
}

.footer-nav p {
    display: inline;
    color: #727272;
}

.footer-nav p:nth-child(1) {
    float: left;
}

.footer-nav p:nth-child(3) {
    float: right;
}

.show {
    opacity: 100%;
}

/*//////////////////////////////////////////////// home.html //////////////////////////////////////////////////*/
#containerAccueil1{
	width:25%;
	float:left;
}
#containerAccueil2{
	width:25%;
	float:left;
}
#containerAccueil3{
	width:25%;
	float:left;
}
#containerAccueil4{
	width:25%;
	float:left;
}